<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra ERB Chartkick Test</title>
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>

  <body>
    <center>
      <h1> <%= @title %> </h1>
      <p>
        <%= pie_chart(@data) %>
      </p>
    <p><small>source: <%= @source %></small></p>
    </center>
  </body>
</html>
